language: scala

jdk:
  - oraclejdk8

scala:
  - 2.11.12
  - 2.12.7

sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

before_install:
  - git fetch --tags

stages:
  - name: test
  - name: release
    if: (branch = master AND type = push) OR (tag IS present)

jobs:
  include:
    # stage="test" if no stage is specified
    - script: travis_retry sbt ++$TRAVIS_SCALA_VERSION test
    # run release only if previous stages passed
    - stage: release
      script: sbt ci-release
