name: Coverage report

on:
  push:
    branches: [master]

jobs:
  coverage_report:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: olafurpg/setup-scala@v13
    - name: Compile
      run: sbt compile
    - name: Run cross-version tests with coverage
      run: sbt coverage +test
    - name: Generate coverage report
      run: sbt coverageReport
    - name: Aggregate sub-projects coverage reports
      run: sbt coverageAggregate
    - uses: codacy/codacy-coverage-reporter-action@v1
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
