name: Test

on:
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Check formatting
      run: sbt scalafmtCheckAll
    - name: Compile
      run: sbt compile
    - name: Run cross-version tests
      run: sbt +test
